* {
  box-sizing: border-box;
}

body {
  background-color: brown;
}

/* HOUSE */
#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: white;
  border: 2px solid black;
  margin: 20px ;
}

/* ROOF */
#roof {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
}

/* CHIMNEY */
#chimney {
  position: absolute;
  top: -50px;
  left: 40px;
  width: 60px;
  height: 120px;
  background-color: black;
  border: 2px solid black;
  z-index: -1;
}

/* WINDOWS */
#window-1 {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid black;
}

#window-2 {
  position: absolute;
  top: 150px;
  right: 60px;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid black;
}

/* DOOR */
#door {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 100px;
  height: 130px;
  background-color: black;
  border: 2px solid black;
}

/* KNOB (not tested, optional) */
#knob {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 15px;
  height: 15px;
  background-color: brown;
  border-radius: 50%;
}
/* 

* {
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
}

/* To see the .cat-head element, give it a linear gradient background with #5e5e5e at 85% and #45454f at 100% */
.cat-head {
  width: 205px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 46%;
  background: linear-gradient(#5e5e5e 85%, #45454f 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* Using a class selector, give the .cat-left-ear element a left and right border of 35px solid transparent each. Also, set the bottom border to 70px solid #5e5e5e */

.cat-left-ear {
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
  position: absolute;
  top: -26px;
  left: -31px;
  z-index: 1;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  transform: rotate(-45deg);
}

.cat-right-ear {
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
  position: absolute;
  top: -26px;
  left: 163px;
  z-index: 1;
  transform: rotate(45deg);
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
}
/* To remove all the pointed edges of the ear, set a bottom-right and bottom-left border radius of 40% each, a top-left border radius of 90px, and a top-right border radius of 10px */
.cat-left-inner-ear {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
  position: absolute;
  top: 22px;
  left: -20px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
}

.cat-right-inner-ear {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
  position: absolute;
  top: 22px;
  left: -20px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
}

.cat-left-eye {
  background-color: #000;
  height: 40px;
  width: 30px;
  border-radius: 60%;
  transform: rotate(25deg);
  position: absolute;
  top: 54px;
  left: 39px;
}

.cat-right-eye {
  background-color: #000;
  height: 40px;
  width: 30px;
  border-radius: 60%;
  transform: rotate(-25deg);
  position: absolute;
  top: 54px;
  left: 134px;
}

.cat-left-inner-eye {
  width: 10px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 2px;
  transform: rotate(10deg);
  border-radius: 60%;
}

.cat-right-inner-eye {
  width: 10px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(-5deg);
  border-radius: 60%;
}

/* Using a class selector, give your .cat-nose element a left and right border of 15px solid transparent each. Also give it a bottom border of 20px solid #442c2c border radius of 50% each on the top-left, bottom-right, and bottom-left corners. Also, rotate it at 180 degrees. */

.cat-nose {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #442c2c;
  position: absolute;
  top: 108px;
  left: 85px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(180deg);
}

.cat-mouth div {
  width: 30px;
  height: 50px;
  border: 2px solid #000;
  border-color: black transparent transparent transparent;
  border-radius: 190%/190px 150px 0 0;
}

.cat-mouth-line-left {
  position: absolute;
  top: 88px;
  transform: rotate(170deg);
  left: 74px;
}

.cat-mouth-line-right {
  position: absolute;
  top: 88px;
  transform: rotate(165deg);
  left: 91px;
}

.cat-whiskers-left div {
    width: 40px;
    height: 1px;
    background-color: #000;
}

.cat-whiskers-right div {
    width: 40px;
    height: 1px;
    background-color: #000;
}

.cat-whisker-left-top {
    position: absolute;
    top: 120px;
    left: 52px;
    transform: rotate(10deg);
}

.cat-whisker-left-middle {
    position: absolute;
    top: 127px;
    left: 52px;
    transform: rotate(3deg);

}

.cat-whisker-left-bottom {
    position: absolute;
    top: 134px;
    left: 52px;
    transform: rotate(-3deg);
}

.cat-whisker-right-top {
    position: absolute;
    top: 120px;
    left: 109px;
    transform: rotate(-10deg);
}

.cat-whisker-right-middle {
    position: absolute;
    top: 127px;
    left: 109px;
    transform: rotate(-3deg);
}

.cat-whisker-right-bottom {
    position: absolute;
    top: 134px;
    left: 109px;
    transform: rotate(3deg);

}  is this code right
